<div class="row">
    <div class="col-md-12">
        <div class="card">

            <!--Carousel Wrapper-->
            <div class=row>
                <div class="col-12">
                    <div id="screenshot-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                        </ol>
                        <div class="carousel-inner" role="listbox">
                        </div>
                        <a class="carousel-control-prev" href="#screenshot-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#screenshot-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--/.Carousel Wrapper-->
            <!-- TITLE -->
            <div class=row>
                <div class="col-12">
                    <div class="title">testing</div>
                </div>
                <div class="col-8">
                    <h3>DESCRIPTION</h3>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Debitis
                        minus aliquid culpa, ad sequi unde quis molestias iste in excepturi dolor
                        pariatur
                        facilis vitae commodi reiciendis totam amet beatae nulla? Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing elit.
                        Debitis
                        minus aliquid culpa, ad sequi unde quis molestias iste in excepturi dolor
                        pariatur
                        facilis vitae commodi reiciendis totam amet beatae nulla?Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing elit.
                        Debitis
                        minus aliquid culpa, ad sequi unde quis molestias iste in excepturi dolor
                        pariatur
                        facilis vitae commodi reiciendis totam amet beatae nulla?Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing elit.
                        Debitis
                        minus aliquid culpa, ad sequi unde quis molestias iste in excepturi dolor
                        pariatur
                        facilis vitae commodi reiciendis totam amet beatae nulla?</p>
                </div>
                <div class="col-4">
                    <div class="side-card">
                        <div class="side-card-box">
                            <h3>RELEASE DATE</h3>
                            <p class="release-date"></p>
                        </div>
                        <div class="side-card-box">
                            <h3>DEVELOPERS</h3>
                            <ul class="developers"></ul>
                        </div>
                        <div class="side-card-box">
                            <h3>PLATFORMS</h3>
                            <ul class="platforms"></ul>
                        </div>
                        <div class="side-card-box">
                            <h3>STORES</h3>
                            <ul class="stores"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3>GENRES</h3>
                    <ul class="genres"></ul>
                </div>
                <div class="col-6">
                    <h3>TAGS</h3>
                    <ul class="tags"></ul>
                </div>
            </div>
        </div>
    </div>
</div>