*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ecf0f9;
  background-attachment: fixed;
}

.content {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

p.overview {
  font-size: 12px;
  height: 200px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: .1ch;
  line-height: 1;
  padding-bottom: .5em;
  margin-bottom: 1rem;
  position: relative;
}
.heading:after {
  display: block;
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  bottom: 0;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 1rem;
  position: relative;
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  display: -webkit-box;
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: ease-in-out 600ms;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: .25;
  z-index: -1;
}
.card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.back {
  background: #fff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  padding: 0 2em;
}
.card:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card:nth-child(even):hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.button {
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: .5em 1em;
  border-radius: 100px;
  font: inherit;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  border: none;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.button:before {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: '';
  -webkit-transform: translateZ(-40px);
          transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.button:hover {
  -webkit-transform: translateZ(55px);
          transform: translateZ(55px);
}
.button:hover:before {
  -webkit-transform: translateZ(-55px);
          transform: translateZ(-55px);
}
.button:active {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}
.button:active:before {
  -webkit-transform: translateZ(-20px);
          transform: translateZ(-20px);
  top: 12px;
}

.movie_gens {
  font-size: 11.5px;
}

.release_date {
  font-weight: bold;
}
.release_date span {
  font-weight: normal;
}