form.signup,
form.login {
  margin-top: 50px;
}

body {
  /* background-color: rgb(32, 31, 31); */
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

html,
body {
  /* height: 100%; */
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: colorchange 175s linear 1s infinite; /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 175s linear 0s infinite alternate; /* Chrome and Safari */
}

@keyframes colorchange {
  0% {
    background-color: rgb(0, 20, 20);
  }
  33% {
    background-color: rgb(20, 0, 20);
  }
  66% {
    background-color: rgb(20, 20, 0);
  }
  100% {
    background-color: rgb(0, 20, 20);
  }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    background-color: rgb(0, 20, 20);
  }
  33% {
    background-color: rgb(20, 0, 20);
  }
  66% {
    background-color: rgb(20, 20, 0);
  }
  100% {
    background-color: rgb(0, 20, 20);
  }
}

.container {
  max-width: 1280px;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar li {
  color: #000;
}

h2 {
  color: white;
}

.formcontrol {
  color: rgb(29, 28, 28);
}

.navbar-brand {
  padding-bottom: 15px;
}

div.ggLogo {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 4px;
}

img#logo {
  max-width: 40%;
  max-height: 40%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

.wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .search_box {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  height: 65px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown {
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.wrapper .search_box .dropdown ul {
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul.active {
  display: block;
}

.wrapper .search_box .dropdown ul li {
  padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child {
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover {
  color: #6f768d;
}

.wrapper .search_box .dropdown:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #19bd50 transparent transparent transparent;
}

.wrapper .search_box .search_field {
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #5078ef;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9fa3b1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9fa3b1;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #9fa3b1;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: center;
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #536976,
    #bbd2c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #536976,
    #bbd2c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  /* display: none; */
}

img {
  max-width: 940px;
  max-height: 540px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 200px;
  }
}

table {
  table-layout: fixed;
  width: 96%;
  border-collapse: collapse;
  border: 1px black solid;
  margin: 30px;
}

table td {
  width: 50%;
  border: 1px black solid;
  padding: 9px;
  text-align: center;
}

table caption {
  font-style: italic;
}

#checkBtns {
  margin: 4px;
  overflow: auto;
  float: left;
}

#checkBtns label span {
  text-align: center;
  padding: 3px 0px;
  display: block;
  border-radius: 4px;
}

#checkBtns label input {
  position: absolute;
  top: -20px;
}

#checkBtns input:hover + span {
  background-color: #efe0e0;
  width: 100%;
}

#checkBtns input:checked:hover + span {
  background-color: #c11;
  color: #fff;
}

#checkBtns input:checked ~ .customBackground:after {
  display: block;
}

.customBackground {
  background-color: red;
}

#carousel-example-2 {
  max-width: 940px;
  max-height: 540px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  border-bottom: 2px solid oldlace;
  margin-bottom: 8px;
  margin-top: 8px;
}

.side-card-box {
  border: 1px solid #34373b;
  border-radius: 5px;
  margin-bottom: 5px;
}

.description {
  text-align: left;
}

.jumbotron {
  background-color: rgba(23, 23, 24);
  text-align: center;
}

/* .landingBody {
  background-image: url("https://media.rawg.io/media/games/7e3/7e327a055bedb9b6d1be86593bef473d.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.loader {
  margin: 25px auto;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Checkboxes and Radio */
/* *{font-family: 'Roboto', sans-serif;} */

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: 2px solid white;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #34373b;
}
.option-input:checked::before {
  height: 25px;
  width: 25px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 24px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #34373b;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
/* ----------------------------- */

.searchFilters {
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #536976,
    #bbd2c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #536976,
    #bbd2c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}

.headers {
  color: #34373b;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.buttonStyle {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#search {
  background-color: #34373b;
  border: #34373b;
}

#search:hover {
  background-color: #454749;
}

.resultHeaders {
  color: #34373b;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

li {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 16px;
}
